{% extends "base.html" %}
{% block content %}
<div class="container">
    <form class="form-signin" action="/sign_in", method="post">
      <h2 class="form-signin-heading">Log in to your account</h2>
      <label for="username" class="sr-only">Account</label>
      <input type="text" id="username" name="username" class="form-control" placeholder="Account Name" required autofocus>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <h3>New to book web? <a href="/sign_up">Sign Up</a></h3>
    </form>
</div> <!-- /container -->
{% endblock %}